<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="./favicon.ico">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Firebase DB 시작 -->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-database.js"></script>

    <script>
        // Initialize Firebase
        // TODO: Replace with your project's customized code snippet
        var config = {
            // apiKey: "AIzaSyBGRyRlU5WngNW0QGBF05aJrRegoZKRc",
            // authDomain: "calc-buff.firebaseapp.com",
            databaseURL: "https://calc-buff.firebaseio.com/",
            // storageBucket: "calc-buff.appspot.com",
            // messagingSenderId: "257373652555",
        };
        firebase.initializeApp(config);
        let db = firebase.database();
        // let ref = db.ref();
        // ref.child('user').once('value', function(data) {
        //     console.log('test', data.val());
        // })
        function dbRead(path) {
            return db.ref(path).once('value');
        }

        function dbWrite(path, val) {
            db.ref(path).set(val);
        }
        Vue.config.devtools = true;
    </script>
    <!-- Firebase DB 끝 -->
    <link rel="stylesheet" href="./db-management.css">
</head>

<body>
    <div id="app" v-model="model">
        <div>
            <div v-for="(s, k, i) in model" class='parts'>
                <div class="partsMain">
                    <input type="text" v-model="k"><button class="delete" @click="delete model[k]; delete itemName[k]; partsName = ' '; partsName = '';">{{deleteItems}}</button>
                    <div v-model="s" v-for="(ss, kk) in s">
                        <input type="text" v-model="ss.name">
                        <button class="delete" @click="s.splice(kk, 1); partsName = ' '; partsName = '';">{{deleteItems}}</button>
                        <div>
                            <template v-for="(sss, index) in ss.ab">
                                <input v-model="ss.ab[index]" class="ABs">
                                <button v-model="ss.ab[index]" class="delete" @click="ss.ab.splice(index, 1);">{{deleteItems}}</button>
                            </template>
                            <span class="newOption" @click="if (model[k][kk].ab) model[k][kk].ab.push(null); else model[k][kk].ab = [null]; partsName = ' '; partsName = '';">[ 옵션 추가 ]</span>
                        </div>
                    </div>
                </div>
                <div class="partsAdd">
                    <!-- div 태그 없어도 되는데 그냥 넣음 -->
                    <input type="text" class="add" v-model="itemName[k]" @keyup.enter="model[k].push({name:itemName[k]}); itemName[k] = '';" placeholder="장비 이름">
                    <button @click="model[k].push({name:itemName[k]}); itemName[k] = '';">추가</button>
                </div>
            </div>
            <div id="addParts">
                <span class="add" @click="toggle('addparts')">(+) 부위 추가</span>
                <div v-show="showing.addparts">
                    <label>부위 이름
                    <input type="text" v-model="partsName" @keyup.enter="model[partsName] = [{name: ''}]; partsName = ''">
                    </label>
                    <button @click="model[partsName] = []; partsName = ''">확인</button>
                </div>
            </div>
        </div>
        <button @click="submit" style="height: 32px; width: 128px;">제출</button>
        <!-- <button @click="save " style="height: 32px; width: 128px; ">저장</button> -->
        <a :href="jsonData" id="jsonSave" download="data.json">저장</a>
        <button @click="" style="height: 32px; width: 128px;" class="disabled">열기</button>
    </div>
    <div class='comment'>
        <iframe src="./comment.txt" frameborder="0"></iframe>
    </div>
</body>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            model: {},
            showing: {
                addparts: false
            },
            partsName: '',
            deleteItems: 'x',
            itemName: {}
        },
        computed: {
            jsonData: function() {
                let savedJson = JSON.stringify(this.model, null, '\t');
                return "data:text/json;charset=utf-8," + encodeURIComponent(savedJson);
            }
        }
    });
    dbRead('/shield/equipment').then(data => {
        vm._data.model = eval(data.val());
    })

    function submit() {
        dbWrite('/shield/equipment', vm._data.model);
    }

    function save() {
        let savedJson = JSON.stringify(vm._data.model, null, '\t');
        let dataUri = "data:text/json;charset=utf-8," + encodeURIComponent(savedJson);
        document.getElementById('jsonSave').href = dataUri;
    }

    function toggle(s) {
        vm._data.showing[s] = !vm._data.showing[s];
    }
</script>

</html>