* {
    font-size: 16px;
    color: grey;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#app>div {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(160, 125, 86, 0.02);
    padding-bottom: 16px;
    margin-bottom: 16px;
}

#app>div>div {
    background-color: #FFF;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    margin: 4px;
    width: calc(256px - 16px);
}

.ABs {
    width: calc(256px - 32px);
    margin-left: 16px;
}

.setName {
    border-bottom: 1px solid rgba(58, 126, 92, 0.4) !important;
    color: rgba(58, 126, 92, 0.4) !important;
    margin-left: 16px;
    font-weight: bold;
    width: 128px;
}

.setName::placeholder {
    color: rgba(58, 126, 92, 0.4);
    font-weight: bold;
}

button {
    background-color: #FFF;
    border: 1px dashed rgba(121, 193, 252, 0.5);
    border-radius: 4px;
    outline: none;
    color: rgb(121, 193, 252);
}

button:hover {
    background-color: rgb(121, 193, 252);
    color: #FFF;
}

#app>div>div {
    /* display: inline-block; */
    width: 280px;
    box-shadow: 1px 1px 2px 0px #cecece;
    margin: 8px;
    padding: 4px;
}

span.add {
    display: inline-block;
    width: calc(100% - 10px);
    color: rgba(0, 128, 128, 0.5);
    font-weight: bolder;
    border: 1px dotted rgba(0, 128, 128, 0.5);
    border-radius: 2px;
    padding: 4px;
    margin-bottom: 8px;
}

span.add:hover {
    color: #FFF;
    background-color: rgba(0, 128, 128, 0.5);
    border: 1px dotted rgba(0, 128, 128, 0);
}

.partsMain {
    height: calc(100% - 48px);
}

.partsMain>span.partsName {
    display: inline-block;
    margin: 4px;
    color: #3287FC;
    text-align: center;
    border: none;
    border: solid rgba(50, 134, 252, 0.5);
    border-width: 0px 1px 0px 1px;
    border-radius: 4px;
    /* background-color: rgb(237, 242, 250); */
    width: 64px;
}

.partsMain>div>input {
    border-bottom: 1px solid rgba(160, 125, 86, 0.25);
    color: rgba(160, 125, 86, 0.75);
    margin-top: 32px;
}

.partsMain>div>div>input {
    border-bottom: 1px dashed rgba(91, 158, 125, 0.25);
    color: rgba(91, 158, 125, 0.5);
}

.delete {
    background-color: #FFF;
    border: 0.5px dashed rgba(252, 125, 121, 0.5);
    border-radius: 4px;
    outline: none;
    color: rgba(252, 125, 121, 0.5);
}

.delete:hover {
    background-color: rgba(252, 125, 121, 0.5);
    color: #FFF;
}


/* 장비 추가 */

input.add {
    /* display: block; */
    width: 256px;
    border: 2px solid #FFFFFF00;
    color: rgb(160, 125, 86);
    background-color: rgba(160, 125, 86, 0.25);
    margin-top: 16px;
    width: calc(256px - 48px);
    padding-left: 8px;
}

input.add::placeholder {
    color: rgb(160, 125, 86);
}

#addParts>div>input[type="text"] {
    width: calc(100% - 96px);
    border: solid rgba(50, 134, 252, 0.5);
    border-width: 0px 1px 0px 1px;
    border-radius: 4px;
    color: rgba(50, 134, 252, 0.5);
    padding: 0px 16px 0px 16px;
    /* border-bottom: 1px dashed rgba(50, 134, 252, 0.5); */
}

a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 64px;
    background-color: #FFF;
    border: 1px dashed rgba(121, 193, 252, 0.5);
    border-radius: 4px;
    outline: none;
    color: rgb(121, 193, 252);
    padding: 4px;
}

a:hover {
    background-color: rgb(121, 193, 252);
    color: #FFF;
    cursor: default;
}

.disabled,
.disabled:hover {
    border: 1px dashed #dbdbdb;
    background-color: #dbdbdb;
    color: #FFF;
}

.newOption {
    font-size: 12px;
    color: rgba(0, 128, 128, 0.5);
    display: inline-block;
    width: 100%;
    text-align: center;
    /* border: 1px dotted rgba(0, 128, 128, 0.5); */
    border-radius: 2px;
}

.newOption:hover {
    /* font-weight: bold; */
    color: #FFF;
    background-color: rgba(0, 128, 128, 0.5);
    border: 1px solid rgba(0, 0, 0, 0);
}

.comment {
    background-color: #FFF !important;
    display: flex;
    flex-direction: column;
    /* margin-top: 16px; */
    box-shadow: 1px 1px 2px 0px rgb(98, 175, 146);
    padding: 16px;
    color: rgb(98, 175, 146);
    height: 280px;
}

body>div {
    margin-top: 16px;
}

.comment>iframe {
    height: 100%;
}

.menuOption {
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #3287FC;
    color: #3287FC;
    padding: 4px;
    margin-right: -6px;
}

.menuOption:hover {
    background-color: rgba(50, 134, 252, 0.75);
    border-color: rgba(0, 0, 0, 0);
    color: #FFF;
}

.menuOption.active {
    background-color: #3287FC;
    color: #FFF;
}

#app2 .partsMain {
    margin: 16px 0px 16px 0px;
    display: flex;
}

#app2 .partsMain>div {
    margin-right: 16px;
}

.skillName {
    border: solid rgba(50, 134, 252, 0.5);
    border-width: 0px 1px 0px 1px;
    border-radius: 4px;
    color: #3287FC;
    padding: 4px 16px 4px 8px;
    display: inline-block;
}

table {
    /* background-color: rgb(91, 124, 170); */
    border: solid rgb(160, 125, 86);
    border-width: 0px 1px 0px 1px;
    border-radius: 4px;
    padding: 8px;
}

th,
td,
td>input {
    color: rgb(160, 125, 86);
}

td>input {
    width: 64px;
    border: 2px solid #FFFFFF00;
    color: rgb(160, 125, 86);
    background-color: rgba(160, 125, 86, 0.25);
}

.addSkill {
    padding: 4px;
    border-radius: 2px;
    border: 1px dotted rgb(160, 125, 86);
}

.addSkill:hover {
    background-color: rgb(160, 125, 86);
    color: #FFF;
}