* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    cursor: default;
}

#app {
    box-shadow: 0px 0px 2px 0px grey;
    padding-bottom: 32px;
}

div.non-clickable {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

a.db-management-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FFF;
    border: 1px dashed rgba(121, 193, 252, 0.5);
    border-radius: 4px;
    outline: none;
    color: rgb(121, 193, 252);
    padding: 4px;
    margin: 8px;
}

a.db-management-link:hover {
    background-color: rgb(121, 193, 252);
    color: #FFF;
    cursor: default;
}

.partsName {
    display: inline-block;
    width: 64px;
    margin: 2px;
    padding: 4px;
    background-color: rgb(168, 136, 106);
    color: #FFF;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.equipmentsName {
    /* width: 128px; */
    background-color: rgb(128, 128, 128);
    color: white;
    position: absolute;
    transform: translate(74px, -31px);
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.equipmentsName>span:hover {
    font-weight: bold;
}

.selectedEquipmentName {
    display: inline-block;
    border: solid rgb(168, 136, 106);
    border-width: 0px 0px 1px 0px;
    color: rgb(168, 136, 106);
    margin: 4px;
}

#procSelect>button {
    background: none;
    border: 1px solid rgb(168, 136, 106);
    color: rgb(168, 136, 106);
    margin: 4px 2px 4px 2px;
    padding: 2px 4px 2px 4px;
    outline: none;
}

#procSelect>button:hover,
#procSelect>button.selected {
    /* border: 1px solid rgb(168, 136, 106); */
    color: #FFF;
    background-color: rgb(168, 136, 106);
}

#procStat>input {
    border: solid rgb(168, 136, 106);
    border-width: 0px 0px 1px 0px;
    color: rgb(168, 136, 106);
    outline: none;
}

#procStat>input:focus {
    color: rgb(185, 99, 19);
    border-color: rgb(185, 99, 19);
}

#calc {
    width: 256px;
    border: none;
    background-color: rgb(155, 40, 40);
    color: #FFF;
    margin: 16px;
    padding: 8px;
    outline: none;
}

#calc:hover {
    background-color: rgb(204, 74, 74);
}

#result {
    background-color: rgb(150, 144, 184);
    color: #FFF;
    min-height: 32px;
}