* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    cursor: default;
    font-family: 'Noto Sans kr', sans-serif;
}

body {
    background-color: #a1bbc5;
}

#app {
    background-color: #FFF;
    padding-bottom: 32px;
}

@media screen and (min-width: 800px) {
    #app {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.setEquip {
    background-color: #3287FC;
    color: #FFF;
    padding: 4px;
    margin: 4px;
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    max-width: 100%;
    margin: 0;
}

.setEquip>span {
    margin-left: 32px;
}

.setEquip>span:hover {
    text-decoration: underline;
}

div.non-clickable {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.menuParent,
#procSelect,
.proc {
    margin: 8px;
}

a.db-management-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FFF;
    border: 1px dashed rgba(121, 193, 252, 0.5);
    border-radius: 4px;
    outline: none;
    color: rgb(121, 193, 252);
    padding: 4px;
    margin: 8px;
}

a.db-management-link:hover {
    background-color: rgb(121, 193, 252);
    color: #FFF;
    cursor: default;
}

.partsName {
    display: inline-block;
    width: 96px;
    margin: 2px;
    padding: 4px;
    background-color: rgb(168, 136, 106);
    color: #FFF;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.partsName:hover {
    background-color: rgb(172, 98, 30);
}

.equipmentsName {
    /* width: 128px; */
    background-color: rgb(128, 128, 128);
    color: white;
    position: absolute;
    transform: translate(106px, -31px);
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.equipmentsName>span:hover {
    text-decoration: underline;
}

.selectedEquipmentName {
    display: inline-block;
    border: solid rgb(168, 136, 106);
    border-width: 0px 0px 1px 0px;
    color: rgb(168, 136, 106);
    margin: 4px;
}

#procSelect>button {
    background: none;
    border: 1px solid rgb(168, 136, 106);
    color: rgb(168, 136, 106);
    margin: 4px 2px 4px 2px;
    padding: 2px 4px 2px 4px;
    outline: none;
}

#procSelect>button:hover,
#procSelect>button.selected {
    /* border: 1px solid rgb(168, 136, 106); */
    color: #FFF;
    background-color: rgb(168, 136, 106);
}

#procStat>span {
    color: rgb(185, 99, 19);
}

#procStat>input {
    border: solid rgb(168, 136, 106);
    border-width: 0px 0px 1px 0px;
    color: rgb(168, 136, 106);
    outline: none;
}

#procStat>input:focus {
    color: rgb(185, 99, 19);
    border-color: rgb(185, 99, 19);
}

#calc {
    width: 256px;
    border: none;
    background-color: rgb(155, 40, 40);
    color: #FFF;
    margin: 16px 0px 16px 0px;
    padding: 4px;
    outline: none;
    font-size: 24px;
}

#calc:hover {
    background-color: rgb(204, 74, 74);
}

#result {
    display: inline-block;
    width: 480px;
    max-width: 100%;
    padding: 8px;
    background-color: rgb(150, 144, 184);
    color: #FFF;
    min-height: 32px;
    user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
}